<launch>

  <arg name="robot" default="darwin" />

  <include file="$(find darwin_description)/launch/darwin_base.launch">
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find darwin_apps)/launch/xs_camera_qr.launch"/>

  <include file="$(find bno055_imu)/launch/darwin_bno055_imu.launch"/>
</launch>

